<%% scope = "activerecord.attributes.<%=singular_name%>" %>

<% for attribute in attributes -%>
<p>
	<b><%%= t("<%=attribute.name%>", :scope => scope)%>:</b>
	<%%=h @<%= singular_name %>.<%= attribute.name %> %>
</p>

<% end -%>

<%%= link_to t('button.edit'), edit_<%= singular_name %>_path(@<%= singular_name %>) %> |
<%%= link_to t('button.back'), <%= plural_name %>_path %>